* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font: 1rem, Arial;
}
.container {
  display: grid;
  grid-template-areas: "header", "main", "footer";
  grid-template-rows: 5rem 1fr 5rem; /* 1rem=10px(62.5%) */
  grid-template-columns: 1fr;
  height: 100%;
}
header {
  background-color: #ddef86;
  color: #ffffff;
  /* display flex in header becoz need to keep both logo and signin,cart in same line */
  display: flex;
  justify-content: space-between; /* space between to get logo in rt and other in left */
  align-items: center; /* put 50px in center */
  padding: 1rem;
}
header h1 {
  line-height: 1;
  font-family: serif;
}
.logo > img {
  width: 100px;
}

.searchbar {
  flex: 1 1 auto;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
}

.searchbar input {
  width: 90%;
  font-size: 1rem;
  height: 2rem;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-left: 0.5rem;
}

.searchbar button {
  padding: 0 0.25rem;
  background: white;
  border: 1px solid #ccc;
  border-radius: 3px;
}
/* .cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
} */
/* .card {
  text-align: center;
  border: rgb(65, 218, 59) solid 1px;
  padding: 1rem;
  width: 19rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #ea40e7
} */
 
.imageGallery {
  text-align: center;
  margin: 1rem 2rem;
  box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
}

/* .imageGallery .image {
  height: 225px;
  position: relative;
  width: 300px;
  display: flex;
  justify-content: center;
}  */
