* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
body {
  
  font: 1rem, Arial;
}

header {
  background-color: #ddef86;
  color: #ffffff;
  /* display flex in header becoz need to keep both logo and signin,cart in same line */
  display: flex;
  justify-content: space-between; /* space between to get logo in rt and other in left */
  align-items: center; /* put 50px in center */
  padding: 1rem;
}
header h1 {
  line-height: 1;
  font-family: serif;
}
.logo > img {
  width: 100px;
}

.searchbar {
  flex: 1 1 auto;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
}

.searchbar input {
  width: 90%;
  font-size: 1rem;
  height: 2rem;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-left: 0.5rem;
}

.searchbar button {
  padding: 0 0.25rem;
  background: white;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.imageGallery{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  
  
}
.content {
    display: inline-flex;
    
  }